# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Reservation.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Behzad\Desktop\Reservation\.idea\.idea.Reservation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
